*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    user-select: none;
}
nav {
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* keeps navbar above everything */
  display: flex;
  justify-content: space-between; /* logo on left, menu on right */
  align-items: center;
  background: linear-gradient(rgb(226, 214, 214), rgb(71, 25, 25));
  box-shadow: 0px 5px 20px black;
}

nav img {
  width: 110px;
  height: 50px;
  margin-top: 13px;
  margin-left: 60px;
}

nav ul {
  margin-right: 80px;
}

nav ul li {
  display: inline-block;
  margin-left: 200px;
  font-size: 40px;
  margin-top: 20px;
}

nav ul li:hover {
  color: red;
  font-size: 41px;
}

.container{
  width: 100%;
  height: auto;
  margin-top: 100px;
}


/*user information.....*/

.signIn{
  width: 100%px;
  height: 500px;
}
.signIn p{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  margin-top: 30px;
  margin-left: 30px;
}
.line{
  width: 100%;
  height: 0;
  border: 1px solid red;
}
.firstinfo{
  width: 600px;
  height: 500px;
}
#mandetory{
  font-size: 17px;
  color: gray;
  margin-left: 50px;
}
#barlable{
  font-size: 16px;
}
#barcod{
  width: 150px;
  height: 22px;
}

.info{
  display: flex;
}
.firstinfo{
  margin-top: 30px;
}
.firstinfo label{
  font-size: 22px;
  margin-left: 50px;
  margin-top: 50px;
}
.firstinfo input{
    margin-left: 50px;
  width: 250px;
  height: 35px;
  font-size: 20px;
}
.firstinfo img{
  margin-left: 50px;
  width: 150px;
}
.firstinfo button{
  margin-left: 50px;
  width: 120px;
  height: 35px;
  color: white;
  background-color: red;
}
.firstinfo a{
  margin-left: 20px;
  font-size: 20px;
}

.image img{
  width: 400px;
  height: 470px;
  margin-top: 30px;
  margin-left: 250px;
}












































.brand {
   margin-left: 1030px;
}
.brand img {
  width: 90px;
  height: 50px;
  margin-left: 366px;
}
.brand p {
  margin-top: 5px;
  margin-left: 180px;
}

.lastnotification {
  display: flex;
  width: 100%;
  height: 30px;
  background-color: red;
  margin-top: 30px;
}
.lastnotification p {
  color: white;
  font-size: 17px;
  margin-left: 50px;
  margin-top: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  text-align: center;
  padding: 1em;
  background-color: #333;
  color: white;
}
footer p{
    letter-spacing: 2px;
}

